# Build outputs
dist
lib
coverage

# Test reports
playwright-report
test-results

# Dependencies
node_modules

# Environment files
.env*
!/.env.example

# Ignore firebase template file
firebase/firebase.template.json