@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
    html,
    body {
        @apply antialiased bg-surface-base;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    #app {
        min-height: 100vh;
    }

    html {
        color-scheme: light dark;
    }
}
