@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
    html,
    body {
        @apply antialiased;
        min-height: 100vh;
    }

    #app {
        min-height: 100vh;
    }

    html {
        color-scheme: light dark;
    }
}
